    <div class="main">
      <div class="container">
        <img class="main-logo" src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/logo.svg" />
        <ul>
            <li>Log In</li>
            <li class="btn btn-fancy">Sign Up</li>
        </ul>
        <div class="content">
        <h1>Watch your favorite movies, instantly</h1>
        <a href="#" class="btn btn-fancy">Learn More</a>
        <form class="form-inline">
            <div class="form-group">
            <input class="hint-fancy" type="text" placeholder="Browse the collection">
            <button class="btn btn-fancy">Search</button>
            </div>
        </form>
        
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
      <h2>A world of movies at your finger tips.</h2>
      <p>Choose from the latest titiles, with new movies added every day.</p>
      
        <div class="row">
            <div class="col-md-8"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-avengers.jpg" />
            </div>
            <div class="col-md-4"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/harry-potter.jpg" />
            </div>
        </div><!-- /.row -->
        
        <div class="row">
            <div class="col-md-4"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/frozen.jpg" /></div>
            <div class="col-md-4"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/iron-man.jpg" /></div>
            <div class="col-md-4"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/transformers.jpg" /></div>
        </div><!-- /.row -->
        
        <div class="row">
            <div class="col-md-4"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/lord-of-the-rings.jpg" /></div>
            <div class="col-md-8"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/skyfall.jpg" /></div>
        </div><!-- /.row -->
        
        <div class="row">
            <div class="col-md-4"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/the-dark-knight.jpg" /></div>
            <div class="col-md-4"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/pirates-of-the-caribbean.jpg" /></div>
            <div class="col-md-4"><img src="http://s3.amazonaws.com/codecademy-content/projects/bolt-network/toy-story-3.jpg" /></div>
        </div><!-- /.row -->
        
      </div><!-- /.container -->
    </div><!-- /.supporting -->

    <div class="feature">
      <div class="container">
        <h2>Available everywhere</h2>
        <p>Start watching on one device, and pick up where you left off on another device.</p>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><h3>Bolt</h3></li>
                    <li>Careers</li>
                    <li>Terms</li>
                    <li>Help</li>                
                </ul>
            </div>
            
            <div class="col-md-3">
                <ul>
                    <li><h3>More Bolt</h3></li>
                    <li>Gift Cards</li>
                    <li>Trailers</li>            
                </ul>
            </div>
            
            <div class="col-md-3">
                <ul>
                    <li><h3>News</h3></li>
                    <li>Blog</li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                    <li>Google+</li>
                    <li>Facebook</li>
                </ul>
            </div>
            
            <div class="col-md-3">
               <!-- -->
            </div>
        </div>
      </div>
    </div>